@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root{
    --black: hsl(210, 9%, 4%);
    --White: hsl(0, 0%, 100%);
    --Gold: hsl(47, 83%, 56%);
    --Orange_brown: hsl(17, 83%, 56%);;
    --Very_dark_blue1: hsl(217, 54%, 11%);
    /* (main BG) */
    --Very_dark_blue2: #6732EC;
    /* (card BG) */
    --Very_dark_blue3: #32B7EC;
    /* (line) */
    --Font_titles: "Amatic SC", sans-serif;
    --Font_paragraph: "JetBrains Mono", monospace;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1{
    font-family: var(--Font_titles);
    font-optical-sizing: auto;
    font-size: 5vw;
    font-weight: 700;
    text-align: center;
    margin: 3vh 0 2vh;
}
nav {
    background: black;
    text-align: center;
    width: 16%;
    margin: 0 auto 5vh;
}
nav a{
    background: black;
    color: var(--White);
    text-decoration: none;
    font-size: 1.5vw;
    margin: 2.5%;
    padding: 1px;
    display: inline-flex;
}
nav a:hover{
    background: var(--White);
    color: var(--black);
}

main{
    margin: 0 0 100px;
}
.flex-box-general {
    display: flex;
    column-gap: 5vw;
    margin: 5vh;

    /* flex-wrap: wrap; */
    
}

.info{
    background: var(--Gold);
    padding: 4vh 4.5vw;
    border-radius: 15px;
    max-width: 25%;
    max-height: fit-content;
}

.info h2{
    font-family: var(--Font_titles);
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2vh;
}

.info p{
    font-family: var(--Font_paragraph);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: justify;

}

.images{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-rows: ; */
    gap: 3vh 3vw;
    /* align-items: flex-start;
    justify-items: flex-start; */
}

/* .images div{
    max-width: 400px;
} */

.images img{
    border-radius: 15px;
    width: 100%;
    /* max-width: 400px; */
    height: auto;
    display: block;
    /* max-width: 400px;
    min-width: 100px; */
}

#return-button{
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border: 2px solid var(--black);
    border-radius: 10px;
    background: var(--Orange_brown);


}

#return-button a{
    text-decoration: none;
    font-family: var(--Font_paragraph);
    font-size: 1.2em;
    font-weight: 800;
    color: var(--Very_dark_blue1);

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--White);
  /* text-align: center; */
  padding: 2vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    justify-content: flex-start;
    align-content: center;
    width: 20vw;
    height: min-content;
}

.social-media a{
    width: 2.5vw;
}

footer p{
    font-family: var(--Font_paragraph);
    font-size: 1.15em;
}